# IDE related
.vscode
.idea
*.swp

# Downloaded files
resources_downloaded
resources*/

#Logs
*.log

# Build files
CMakeFiles
CMakeUserPresets.json
build*/
cmake-build-*/
b_v*/
b_y*/
build*/
b_*/
pv32*/
aMyWork/
a_tflite/
 model_fur/

# Virtual environments
scripts/py/env*
scripts/py/venv*
env
venv
__pycache__*

# download file
downloads/
